:root {
  --black: #353535;
  --red: #D46A6A;
  --green: #21ba45;
  --yellow: #F1E845;
  --blue: #485492;
  --magenta: #72408F;
  --cyan: #28B8BF;
  --white: #e6e6e6;
  --black-1: #0c141f;
  --red-1: #FFAAAA;
  --green-1: #b8f9d3;
  --yellow-1: #FFF871;
  --blue-1: #6F79AE;
  --magenta-1: #9168AB;
  --cyan-1: #4EC5CB;
  --white-1: #e6ffff;

  --bg: var(--black);
  --fg: var(--white);
  --border-color: #CCCCCC;
  --border-color-dark: #AAAAAA;
  --link-color: var(--yellow);
}

@media (prefers-color-scheme: light) {
  :root {
    --black: #353535;
    --red: #D46A6A;
    --green: #55AA55;
    --yellow: #F1E845;
    --blue: #485492;
    --magenta: #72408F;
    --cyan: #28B8BF;
    --white: #e6e6e6;
    --black-1: #0c141f;
    --red-1: #FFAAAA;
    --green-1: #88CC88;
    --yellow-1: #FFF871;
    --blue-1: #6F79AE;
    --magenta-1: #9168AB;
    --cyan-1: #4EC5CB;
    --white-1: #e6ffff;

    --bg: var(--white);
    --fg: var(--black);
    --border-color: #CCCCCC;
    --border-color-dark: #AAAAAA;
    --link-color: var(--blue);
  }
}

body {
  background: var(--bg);
  color: var(--fg);
  font: normal 16px/20px "Open Sans", sans-serif;
  height: 100vh;
  margin: 1rem auto;
  max-width: 95%;
}

a,
a:visited {
  color: var(--link-color, blue);
}

#repos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.dotfiles {
  --bg-color: #0c141f;
  --bg-color-light: #be95e8;
  --text-color: #6fc3df;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.html5-audioplayer {
  --bg-color: #4a148c;
  --bg-color-light: #7b1fa2;
  --text-color: #00e676;
  --box-shadow-color: rgba(106, 27, 154, 0.48);
}

.my-finances {
  --bg-color: var(--green);
  --bg-color-light: var(--green-1);
  --text-color: #fff;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
}
.my-finances a, .my-finances a:visited {
}

.finances {
  --bg-color: var(--green);
  --bg-color-light: var(--green-1);
  --text-color: var(--white);
  --box-shadow-color: var(--green-1);
}

.mylist {
  --bg-color: var(--blue);
  --bg-color-light: var(--blue-1);
  --text-color: var(--white);
  --box-shadow-color: var(--blue-1);
}

.tron-contrib {
  --bg-color: var(--cyan);
  --bg-color-light: var(--cyan-1);
  --text-color: var(--black);
  --box-shadow-color: var(--cyan-1);
}

.repo-card {
  flex: 1 1;
  display: flex;
  max-width: 30%;
  min-width: 30%;
  flex-flow: column nowrap;
  margin: 1rem 0.5rem;

  box-shadow: 0 0.5rem 0.5rem var(--bg-color-light);
  border: 1px solid var(--bg-color);
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.repo-card:hover {
  transform: scale(1.005) translateY(-5px) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.repo-card .content {
  order: 2;
  padding: 0.5rem;
}

.repo-card .content p {
  font-size: 1.2rem;
  text-align: justify;
}

.repo-card .image {
  order: 1;
  text-align: center;
  background-color: transparent;
}

.repo-card .image img {
  max-height: 250px;
  max-width: 100%;
}

.repo-card .actions {
  order: 3;
  align-self: flex-end;
  color: var(--text-color);
  background-color: var(--bg-color);
  width: 100%;
  padding: 1rem 0;
  margin-top: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.repo-card .actions a, .repo-card .actions a:visited {
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
}

/*********** media queries **********/

@media (max-width: 481px) {
  #repos {
    flex-flow: column nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .repo-card {
    max-width: initial;
    margin: 1rem 0;
  }

  .repo-card:hover {
    transform: none;
  }
}
